.event-banner-section {
  position: relative;
  width: 100%;
  height: 380px;
  margin-top: 80px;
  /* min-height: 220px; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-banner-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;
}

.event-banner-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(30, 35, 40, 0.17) 18%, rgba(255, 255, 255, 0.07) 100%);
  z-index: 2;
}

.event-banner-heading {
  position: relative;
  z-index: 3;
  margin: 200px 0 0 0;
  font-size: 7.1vw;
  font-weight: 800;
  color: #fff;
  line-height: 1.02;
  text-shadow: 2px 2px 18px rgba(10, 20, 50, 0.19);
}

.event-title{
    align-items: center;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 3%;
}

.event-description {
    align-items: center;
    margin: 0 50px 18px 50px ;
    text-align: center;
    font-size: 1.11rem;
    color: #000000;
    line-height: 1.65;
}

.about-description p{
  color: #2c2b2b;
}

.event-section-container{
  background: #dada;
  margin: 0 40px 0 40px;
  border-radius: 20px;
  padding: 10px 0 0 0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.birthday,
.gettogether,
.corporateevent,
.wedding {
  padding: 0 80px 18px 80px ;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.wedding,
.gettogether{
  flex-direction: row-reverse;
}

.enquiry-contact-grid{
  width: 100%;
  margin: 0 30px 20px 30px;
  padding: 10px 10px 10px 10px;
  
}

.enquiry-form-card,
.contact-info-card{
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width:980px ) {

  .birthday,
  .gettogether,
  .corporateevent,
  .wedding{
    padding: 0 20px 18px 20px ;
    flex-direction: column;
    gap: 20px;
  }

  .event-section-container{
  
    margin: 0 10px 10px 10px;
    border-radius: 20px;
    padding: 20px 0 20px 0;
  }

  .enquiry-contact-grid{
    width: 100%;
    margin: 0 10px 20px 10px;
    padding: 10px 0 10px 0;
  }
}

@media screen and (max-width:480px) {
  .event-birthday-image {
    width: 300px !important;
    height: 300px !important;
    object-fit:cover ;
    /* margin-left: 50px; */
    padding: 10px 10px 10px 10px;
    border-radius: 20%;
  }
  
}
.birthday p,
.gettogether p,
.corporateevent p,
.wedding p {
  color: #2c2b2b;
  text-align: center;
  font-size: 1.11rem;
  line-height: 1.65;
}

.event-birthday-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  /* margin-left: 50px; */
  padding: 10px 10px 10px 10px;
  border-radius: 20%;
}