.footer {
    background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
    color: #fff;
    padding: 50px 0 20px;
}

.footer-content {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-bottom: 30px;
}

.footer-section h3,
.footer-section h4 {
    margin-bottom: 20px;

}

.footer-section p {
   color: #ccc;
}    

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section a:hover {
    color: #007bff;
}

.footer-bottom {
    text-align: left;
    padding-top: 20px;
    border-top: 1px solid #555;
}

.footer .creator {
  font-size: x-small;
}  
.footer .name {
  font-size: x-small;
  color: #9fd548 !important; /* Added !important to override other styles */
  text-decoration: none;
}
.social-links {
    display: flex;
    flex-direction: column;
    font-style: calc(viewBox);
    
    gap: 15px;
}
